// Backgrounds
$background: #d6e5d3;
$story-background: #fffdf4;
$white: #fff;

// Font/Text
$font-color: #2c3e50;
$font-hover-color: #d6e5d3;
$light-font: #aeaeae;
$story-text-size: 1rem;
$story-text-color: #000;
$serif: serif;
$sans-serif: 'Avenir', Helvetica, Arial, sans-serif;

$nav-height: 3.5em;
$mobile-margin: 1em;
$desktop-margin: 16em;
$desktop-width: 960px;
